<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameUI1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{324,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,103}}</string>
                <key>sourceSize</key>
                <string>{324,103}</string>
            </dict>
            <key>GameUI1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,215},{210,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,106}}</string>
                <key>sourceSize</key>
                <string>{210,106}</string>
            </dict>
            <key>GameUI1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,535},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>GameUI1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{290,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,97}}</string>
                <key>sourceSize</key>
                <string>{290,97}</string>
            </dict>
            <key>GameUI1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,438},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>GameUI1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,380},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>GameUI1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>GameUI1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,483},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>GameUI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,139}}</string>
                <key>sourceSize</key>
                <string>{432,139}</string>
            </dict>
            <key>GameUI_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{71,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,241}}</string>
                <key>sourceSize</key>
                <string>{71,241}</string>
            </dict>
            <key>GameUI_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>GameUI_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,427},{114,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,316}}</string>
                <key>sourceSize</key>
                <string>{114,316}</string>
            </dict>
            <key>GameUI_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,286},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>GameUI_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,766},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,861},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>GameUI_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,326},{71,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,12}}</string>
                <key>sourceSize</key>
                <string>{71,12}</string>
            </dict>
            <key>GameUI_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,340},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>GameUI_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,245},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>GameUI_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,745},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>GameUI_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,766},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>GameUI_14 拷贝.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{360,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
            <key>GameUI_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{360,60}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,108},{360,60}}</string>
                <key>sourceSize</key>
                <string>{582,254}</string>
            </dict>
            <key>GameUI_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,143},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GameUI_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,340},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>GameUI_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,968},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>GameUI_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,529},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>GameUI_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,587},{49,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,88}}</string>
                <key>sourceSize</key>
                <string>{49,88}</string>
            </dict>
            <key>GameUI_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{127,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,107}</string>
            </dict>
            <key>GameUI_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,677},{49,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,87}}</string>
                <key>sourceSize</key>
                <string>{49,87}</string>
            </dict>
            <key>GameUI_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,879},{107,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>GameUI_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{2,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>GameUI_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{2,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>GameUI_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>GameUI_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,968},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>GameUI_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,529},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>GameUI_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,968},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>GameUI_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,968},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>GameUI_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,968},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba9ad7dbb958d192a40fe2dd19b7a948$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
