<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameUI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,139}}</string>
                <key>sourceSize</key>
                <string>{432,139}</string>
            </dict>
            <key>GameUI_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{71,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,241}}</string>
                <key>sourceSize</key>
                <string>{71,241}</string>
            </dict>
            <key>GameUI_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>GameUI_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,215},{114,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,316}}</string>
                <key>sourceSize</key>
                <string>{114,316}</string>
            </dict>
            <key>GameUI_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,286},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>GameUI_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,466},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>GameUI_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,326},{71,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,12}}</string>
                <key>sourceSize</key>
                <string>{71,12}</string>
            </dict>
            <key>GameUI_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,340},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>GameUI_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,245},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>GameUI_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,325},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>GameUI_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,533},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>GameUI_14 拷贝.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{360,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
            <key>GameUI_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,380},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,180}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>GameUI_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,143},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GameUI_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,340},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>GameUI_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,652},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>GameUI_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,646},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>GameUI_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,562},{49,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,88}}</string>
                <key>sourceSize</key>
                <string>{49,88}</string>
            </dict>
            <key>GameUI_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,607},{127,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,107}</string>
            </dict>
            <key>GameUI_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,581},{49,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,87}}</string>
                <key>sourceSize</key>
                <string>{49,87}</string>
            </dict>
            <key>GameUI_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{107,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>GameUI_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{2,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>GameUI_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{2,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>GameUI_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>GameUI_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,670},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>GameUI_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,716},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>GameUI_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,712},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>GameUI_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,694},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>GameUI_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,652},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a625682b4669191c306d4baa101326$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
