<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pandora_eachitem_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>pandora_eachitem_huibutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>ttkp.00146_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,274},{57,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,210}}</string>
                <key>sourceSize</key>
                <string>{57,210}</string>
            </dict>
            <key>ttkp.00146_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,215},{57,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,210}}</string>
                <key>sourceSize</key>
                <string>{57,210}</string>
            </dict>
            <key>ttkp.00146_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,156},{57,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,210}}</string>
                <key>sourceSize</key>
                <string>{57,210}</string>
            </dict>
            <key>ttkp.00146_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,535},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>ttkp.00150_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{148,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,81}}</string>
                <key>sourceSize</key>
                <string>{148,81}</string>
            </dict>
            <key>ttkp.00150_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,501},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>ttkp.00150_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{211,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,81}}</string>
                <key>sourceSize</key>
                <string>{211,81}</string>
            </dict>
            <key>ttkp.00150_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,382},{151,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,72}}</string>
                <key>sourceSize</key>
                <string>{151,72}</string>
            </dict>
            <key>图层 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,93}}</string>
                <key>sourceSize</key>
                <string>{268,93}</string>
            </dict>
            <key>图层 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{266,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,93}}</string>
                <key>sourceSize</key>
                <string>{266,93}</string>
            </dict>
            <key>图层 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{266,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,93}}</string>
                <key>sourceSize</key>
                <string>{266,93}</string>
            </dict>
            <key>图层 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{266,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,93}}</string>
                <key>sourceSize</key>
                <string>{266,93}</string>
            </dict>
            <key>天天酷跑.00184_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,85},{210,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,69}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>天天酷跑.00184_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{181,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,81}}</string>
                <key>sourceSize</key>
                <string>{181,81}</string>
            </dict>
            <key>天天酷跑.00185_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,333},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>天天酷跑.00185_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,457},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>天天酷跑.00185_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,489},{89,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,30}}</string>
                <key>sourceSize</key>
                <string>{89,30}</string>
            </dict>
            <key>天天酷跑.00185_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,425},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>天天酷跑.00185_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,333},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Room.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ddeb6736544c8f3b663f2a26c5422a$</string>
            <key>textureFileName</key>
            <string>Room.png</string>
        </dict>
    </dict>
</plist>
